# Data files
dataset/
computer_vision/results_CV/
split_data.py
*.tif
*.png

# Temporary/test files
synthetic_data/synth_semih.ipynb
utils_common/dice_visualization.ipynb

# Mask creation
run_mask.py
clustering_mask.ipynb

# Caches and checkpoints
*/__pycache__
*/.ipynb_checkpoints
.ipynb_checkpoints

# Pytorch models/checkpoints
deep_learning/models
*.pt
*.pth

# Results
deep_learning/custom_unet
deep_learning/synth_data
